.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.box {
    background-color: #735a30;
}

.button {
    cursor: pointer;
}

.brown {
  background-color: #fff9ed
}


